/* DOCUMENT */

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}

#root {
  margin: 0 auto;
  text-align: center;
  padding: 0px;
}

/* ROWS */

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding: 0px;
  width: 100%;
  padding-left: 5%;
}

/* LOADING BAR */

.loading-bar {
  margin-left: 30%;
  margin-right: 30%;
  color: red;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0px;
  margin: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(138, 38, 38) !important;
}

.sidebar-logo {
  width: 100%;
  height: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #b51919);
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: underline;
}

ol {
  align-items: center;
  margin-left: 1px;
  margin-right: 8px;
  padding: 1px;
}

li {
  font-size: 14px;
  text-align: left;
}

.sidebar .custom-button {
  background-color: #d92143;
  border: white;
  margin: 15px;
  margin-bottom: 0px;
}

.sidebar .custom-button:hover {
  background-color: #ce0026;
}

.tab:focus {
  background-color: #ce0026 !important;
  filter: drop-shadow(0 0 1em #b51919);
}

/* OBJECT CARDS */

.modal-header {
  background-color: #b51919;
  color: rgb(242, 234, 234);
  border-bottom: none !important;
}

.modal-body {
  padding: 0px !important;
}

.modal-body,
.modal-footer {
  background-color: rgb(240, 240, 240) !important;
}

body > div.fade.modal.show > div > div > div.modal-body > div {
  font-size: 18px;
  padding: 0px;
  padding-top: 1rem;
}

body > div.fade.modal.show > div > div > div.modal-body > div {
  padding: 1rem;
}

body
  > div.fade.modal.show
  > div
  > div
  > div.modal-body
  > div
  > div.col-md-6.col-6 {
  padding-left: 1rem;
}

body > div:nth-child(6) > div > div > div.modal-body.modal-body > div {
  padding: 1rem;
}

div.modal-body.modal-body > div > div.col-md-6.col-6 {
  padding-left: 1rem;
}

.detail-title {
  font-weight: bold;
}

.button-list {
  border-top: none !important;
}

.button-list > button.cancel-button,
button.cancel-button {
  background-color: rgb(138, 138, 138);
  border: none;
}

.button-list .cancel-button:hover,
button.cancel-button:hover {
  background-color: rgb(108, 108, 108);
}

.button-list span .custom-button-undisabled,
.button-list > button.custom-button-undisabled,
button.custom-button-undisabled {
  background-color: #b51919;
  border: none;
}

.button-list span .custom-button-undisabled:hover,
.button-list > button.custom-button-undisabled:hover,
button.custom-button-undisabled:hover {
  background-color: #a30202;
}

.button-list span .custom-button-disabled {
  background-color: rgb(213, 137, 137);
  border: none;
}

/* FAVORITES MODAL */

.favorites-grid {
  margin: 0;
  background-color: rgb(255, 232, 232);
}

.modal-background {
  background-color: rgb(255, 232, 232) !important;
}

.loading-text {
  padding: 1rem !important;
}

/* GALLERY MODAL */

body > div.fade.modal.show > div > div > div.modal-body > div > div {
  padding: 0px;
}

h4 {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.gallery-object {
  padding-right: 1rem;
}

.gallery-container,
.gallery-row {
  background-color: rgb(255, 232, 232) !important;
}

/* MEDIA QUERIES */

@media (min-width: 250px) {
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  .art-grid {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo {
    height: 10em;
    padding: 2em;
  }

  li {
    font-size: 16px;
  }

  div.fade.modal.show > div > div > div.modal-body > div > div.col-md-6.col-6 {
    padding-top: 1rem !important;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: hsla(0, 0%, 44%, 0.15);
    padding: 0px;
    margin: 0px;
  }

  li {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    width: 20% !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .art-grid {
    padding: 0px !important;
    width: 80% !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
  }

  div.fade.modal.show > div > div > div.modal-body > div > div.col-md-6.col-6 {
    padding-top: 0rem !important;
    width: 50%;
  }
}

@media (min-width: 1320px) {
  .sidebar {
    position: fixed;
    width: 16% !important;
  }

  .art-grid {
    width: 84% !important;
  }
}
